.p-toolbar {
  background-color: #4b4c4d !important;
  color: #ffffff !important;
}
.p-button {
  margin-right: 0.5em !important;
}
.p-toolbar-separator {
  margin-right: 0.5em !important;
  margin-left: 0.5em !important;
}

::ng-deep.swal2-container {
  z-index: 1000000;
}
