<p-toolbar>
  <div class="p-toolbar-group-left">
    <a *ngIf="!isAdmin" href="https://myccontadores.cl"  pButton label="Volver"></a>
    <!-- <a *ngIf="isLogged && isAdmin" pButton icon="pi pi-user" label="{{ nombreUsuario | uppercase }}"></a> -->
    <a *ngIf="isLogged" pButton icon="pi pi-home" routerLink="/"></a>
    <div *ngIf="isLogged && isAdmin">
      <p-toast></p-toast>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Usuarios"></button>
    </div>
  </div>
  <div class="p-toolbar-group-right">
    <!-- <a *ngIf="isLogged && !isAdmin" pButton icon="pi pi-user" label="{{ nombreUsuario | uppercase }}"></a> -->
    <span class="p-toolbar-separator" *ngIf="isLogged && !isAdmin"></span>
    <a *ngIf="isLogged" pButton icon="pi pi-power-off" label="Salir" (click)="onLogout()"></a>

  </div>
</p-toolbar>
<p-dialog header="Crear Usuario" [draggable]=false [modal]="true" [baseZIndex]="1000" [style]="{width: '75vw'}" [(visible)]="displayModal">
<app-agregar-usuario (guardarexitoso)="Recargar()"></app-agregar-usuario>
</p-dialog>
