.login-form {
  padding: 4rem 1rem;
}
mat-card {
  max-width: 350px;
  margin: 2rem auto;
  text-align: center;
  height: 100%;
}

.color-button-login {
  background-color: #44a8e2;
}
.color_text_login {
  color: white;
}

.full-width-input,
button {
  width: 100%;
}

.separator {
  margin-bottom: 2rem;
}

.inputLogin {
  text-align: center;
}

/* .p-inputtext {
width: 100% !important;
margin-bottom: 2rem !important;
} */
:host ::ng-deep .p-inputtext {
 width: 100%;
 margin-bottom: 1rem;
}
:host ::ng-deep .p-password-input {
  width: 100%;
  margin-bottom: 1rem;
 }
 :host ::ng-deep .p-password:enabled:focus {
  border-color: #4CAF50; /* Cambia el color del borde cuando el input tiene foco */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Agrega una sombra cuando el input tiene foco */
}
 /* .p-password-input{
  width: 100%;
 } */

/* :host ::ng-deep .p-password-panel {
  width: 100%;
  margin-bottom: 1rem;
 } */

