.p-inputtext{
  width: 100%;
}
.p-button{
  width: 100%;
}
.ui-inputmask {
  width: 100%;
}
.p-inputmask{
  width: 100%;
}
.input{
  width: 100%;
}
.fullwith{
width: 100%;
}
.my-inputmask input {
  width: 100%;
}
