<!--
<mat-card class="login-card">
  <mat-card-title>Iniciar sesión</mat-card-title>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="login-input">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="login-input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
    </form>
  </mat-card-content>
</mat-card> -->
<app-header></app-header>
<router-outlet></router-outlet>
