<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Subiendo Archivo </p>
</ngx-spinner>
<div class="main-div grid p-fluid">
  <p-card>
    <form>
      <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <p-dropdown [options]="categorias" [(ngModel)]="selectedCategoria" name="categoria"
          optionLabel="descripcion"></p-dropdown>
      </div>

      <br>
      <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <p-dropdown [options]="usuarios" [filter]="true" filterBy="nombre" [(ngModel)]="selectedUsuario" name="usuario"
          optionLabel="nombre">
        </p-dropdown>
      </div>
      <br>
      <div class="dropzone">
        <div *ngIf="!selectedFile" class="prompt">Arrastra y suelta los archivos aquí</div>
        <div *ngIf="!selectedFile">
          <label class="browse-button">O selecciona
            <input type="file" #fileInput hidden (change)="onFileSelected($event)">
          </label>
        </div>
        <div *ngIf="selectedFile">
          <span>{{selectedFile.name}}</span>
        </div>
      </div>

      <p-button label="Enviar" class="p-mt-3" (click)="submit()"></p-button>
    </form>
  </p-card>
</div>

